.bigNFTSlider_box {
  margin: 0 auto;
  width: 80%;
  padding-block: 8rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  margin-top: -2rem;
}

.bigNFTSlider_box_left {
  grid-column: 1 / 7;
  grid-row: 1 / -1;
  background-color: var(--main-bg-color);
  box-shadow: var(--box-shadow-2);
  border-radius: 1rem;
  padding: 2rem;
  z-index: 1111;
  height: 110vh;
  margin-bottom: -1rem;
}

.bigNFTSlider_title {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.bigNFTSlider_box_left h2 {
  font-size: 3rem;
  line-height: 0.4;
}

.bigNFTSlider_box_right {
  grid-column: 6 / -1;
  grid-row: 1 / -1;
  padding: 1rem;
  background-color: var(--main-bg-color);
  border-radius: 2.5rem;
  box-shadow: var(--box-shadow-2);
  /* box-shadow: var(--main-bg-color); */
}

/* //CREATOR SECTION */
.bigNFTSlider_box_left_creator {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.bigNFTSlider_box_left_creator_profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bigNFTSlider_box_left_creator_profile_img {
  border-radius: 50%;
}

.bigNFTSlider_box_left_creator_profile_info {
  line-height: 0;
}

.bigNFTSlider_box_left_creator_profile_info p {
  margin-bottom: -0.7rem;
  margin-top: 1rem;
}

.bigNFTSlider_box_left_creator_collection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bigNFTSlider_box_left_creator_collection_icon {
  font-size: 2rem;
}

.bigNFTSlider_box_left_creator_collection_info {
  line-height: 0;
}

.bigNFTSlider_box_left_bidding_box {
  border: 3px solid var(--shadow-dark-color);
  margin-block: 2rem;
  padding: 0 4rem;
  border-radius: 0.5rem;
}

.bigNFTSlider_box_left_bidding_box_auction {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bigNFTSlider_box_left_bidding_box small {
  background-color: var(--shadow-dark-color);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: small;
}

.bigNFTSlider_box_left_bidding_box_icon {
  font-size: 2rem;
}

.bigNFTSlider_box_left_bidding_box_timer {
  display: flex;
  align-items: center;
  gap: 3rem;
  text-align: center;
  padding: 1rem 0rem 3rem 0;
  border-bottom: 1px solid var(--shadow-dark-color);
}

.bigNFTSlider_box_left_bidding_box_timer_item p {
  font-size: 3rem;
  font-weight: 900;
  line-height: 0;
}

.bigNFTSlider_box_left_button {
  display: flex;
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
  /* gap: 4rem; */
  padding-block: 1rem 0rem;
  margin-left: 3.5rem;
}

.bigNFTSlider_box_left_sliderBtn {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  /* margin-top: 3rem; */
  justify-content: space-between;
}

.bigNFTSlider_box_left_sliderBtn_icon {
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.bigNFTSlider_box_left_sliderBtn_icon:hover {
  /* background-color: var(--icons-color); */
  color: var(--icons-color);
  transform: scale(1.2);
  padding: .1rem;
}

/* //---RIGHT SECTION */

.bigNFTSlider_box_right_box {
  position: relative;
  width: 100%;
  /* Set the aspect ratio to 1:1 using padding */
  padding-top: 100%;
  overflow: hidden;
}

.bigNFTSlider_box_right_box_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
  margin-left: 2.1rem;
}

.bigNFTSlider_box_right_box_like {
  position: absolute;
  top: 0.5rem;
  right: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  background-color: var(--icons-color);
  color: var(--shadow-dark-color);
  padding: 0.5rem 1rem;
  border-radius: 05rem 5rem 0 5rem;
  box-shadow: var(--main-bg-color);
}

.bigNFTSlider_box_right_box_like:hover {
  background-color: #56607a;
  font-size: 1.3rem;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

@media screen and (min-device-width: 321px) and (max-device-width: 375px) {
  .bigNFTSlider {
    width: 155%;
    margin-left: 5rem;
    margin-top: 6rem;
  }
  .bigNFTSlider_box {
    width: 160%;
    margin: 0 auto;
    padding: 4rem;
  }

  .bigNFTSlider_title h1{
    width: 120%;
    margin-left: 8rem;
  }

  .bigNFTSlider_box_left {
    width: 115%;
    height: fit-content;
  }

  .bigNFTSlider_box_right_box_like {
    margin-right: -0.7rem;
  }

  .bigNFTSlider_box_left_creator_profile_info {
    font-size: larger;
    text-align: center;
  }

  .bigNFTSlider_box_left_creator_collection {
    font-size: larger;
    text-align: center;
  }

  .bigNFTSlider_box_left_bidding {
    font-size: large;
  }

  .bigNFTSlider_box_left_button button {
    font-size: large;
  }
}

@media screen and (min-device-width: 376px) and (max-device-width: 425px) {
  .bigNFTSlider {
    width: 155%;
    margin-left: 5rem;
    margin-top: 6rem;
  }
  .bigNFTSlider_box {
    width: 160%;
    margin: 0 auto;
    padding: 4rem;
  }

  .bigNFTSlider_title h1{
    width: 120%;
    margin-left: 8rem;
  }

  .bigNFTSlider_box_left {
    width: 115%;
    height: fit-content;
  }

  .bigNFTSlider_box_right_box_like {
    margin-right: -0.7rem;
  }

  .bigNFTSlider_box_left_creator_profile_info {
    font-size: larger;
    text-align: center;
  }

  .bigNFTSlider_box_left_creator_collection {
    font-size: larger;
    text-align: center;
  }

  .bigNFTSlider_box_left_bidding {
    font-size: large;
  }

  .bigNFTSlider_box_left_button button {
    font-size: large;
  }
}

@media screen and (min-device-width: 426px) and (max-device-width: 768px) {
  .bigNFTSlider {
    width: 120%;
    margin-left: 15rem;
    margin-top: 6rem;
  }
  .bigNFTSlider_box {
    width: 120%;
    margin: 0 auto;
    padding: 4rem;
  }

  .bigNFTSlider_title h1{
    width: 120%;
    margin-left: 1rem;
  }

  .bigNFTSlider_box_left {
    width: 115%;
    height: fit-content;
  }

  .bigNFTSlider_box_right_box_like {
    margin-right: 0rem;
  }

  .bigNFTSlider_box_left_creator_profile_info {
    font-size: larger;
    text-align: center;
  }

  .bigNFTSlider_box_left_creator_collection {
    font-size: larger;
    text-align: center;
  }

  .bigNFTSlider_box_left_bidding {
    font-size: large;
  }

  .bigNFTSlider_box_left_button button {
    font-size: large;
  }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .bigNFTSlider {
    width: 100%;
    margin-left: 5rem;
    margin-top: 6rem;
  }
  .bigNFTSlider_box {
    width: 100%;
    margin: 0 auto;
    padding: 4rem;
    margin-left: 15rem;
  }

  .bigNFTSlider_title h1{
    width: 120%;
    margin-left: 8rem;
  }

  .bigNFTSlider_box_left {
    width: 115%;
    height: fit-content;
  }

  .bigNFTSlider_box_right_box_like {
    margin-right: -0.3rem;
  }

  .bigNFTSlider_box_left_creator_profile_info {
    font-size: larger;
    text-align: center;
  }

  .bigNFTSlider_box_left_creator_collection {
    font-size: larger;
    text-align: center;
  }

  .bigNFTSlider_box_left_bidding {
    font-size: large;
  }

  .bigNFTSlider_box_left_button button {
    font-size: large;
  }
}