.upload_box_input_para {
  padding: 0 1rem;
}

.upload_box_slider_div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.upload_box_slider {
  width: calc(20.33% - 16px);
  flex: 0 1 calc(25% - 1em);
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  background: linear-gradient(to top, transparent, var(--icons-color));
}

.upload_box_slider_box {
  width: 100%;
  display: flex;
  
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
}

.upload_box_input_label {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0 1rem;
}

.upload_box_slider{
  transition: all 0.3s ease-out;
}
.upload_box_slider:hover {
  /* box-shadow: var(--box-shadow); */
  transform: scale(1.03)
}

.upload_box_slider_box_img_img {
  border-radius: 50%;
}

.upload_box_slider_box_img_icon {
  background-color: var(--icons-color);
  color: var(--main-bg-color);
  border-radius: 50%;
  display: grid;
  padding: 0.2rem;
}

.upload_box_slider p {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}

.upload_box_btn,
.upload_box_btn_style {
  display: flex; /* Change to flex */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  gap: 2rem;
}

.upload_box_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 3rem;
  cursor: pointer;
}
.upload_box_btn_style {
  display: flex;
  font-size: 1.3rem;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.active {
  background-color: var(--icons-color);
  color: var(--main-bg-color);
}
.Form_box_input {
  box-sizing: border-box;
}
@media screen and (max-width: 35em) {
  .upload_box_slider_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
