.NFTCardTwo {
  width: 80%;
  margin: 0 auto;
  padding: 0 6rem 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-right: 10rem;
  margin-bottom: 4rem;
}

.NFTCardTwo_box {
  margin-top: 4rem;
  width: 100%;
  display: grid;
  cursor: pointer;
  transition: all 0.1s ease-in;
  border-radius: 1rem;
  padding: 1rem;
}

.NFTCardTwo_box:hover {
  box-shadow: var(--box-shadow);
}

.NFTCardTwo_box_like {
  padding: 0.3rem;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 111111;
  margin-top: -1rem;
}

.NFTCardTwo_box_like_box_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NFTCardTwo_box_like_box_box_icon {
  color: var(--icons-color);
  font-size: 1.7rem;
  margin-left: 1rem;
}

.NFTCardTwo_box_like_box_box_icon:hover {
  cursor: auto;
}

.NFTCardTwo_box_like_box_box p {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  background-color: var(--icons-color);
  color: var(--main-bg-color);
  border-radius: 2rem;
  padding: 0 0.5rem;
}

.NFTCardTwo_box_img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.NFTCardTwo_box_img_img {
  border-radius: 1rem;
  margin-left: 0.1rem;
}

.NFTCardTwo_box_info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.NFTCardTwo_box_info_left {
  line-height: 0;
}

.NFTCardTwo_box_info small {
  font-size: 1rem;
}

.NFTCardTwo_box_info_left p {
  font-size: 2rem;
  font-weight: 900;
}

.NFTCardTwo_box_price {
  align-items: flex-end;
  line-height: 0;
  padding: 1rem;
}

.NFTCardTwo_box_price_box p {
  border: 1px solid var(--icons-color);
  padding: 1.5rem 1rem 1rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  width: 120px;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
}

.NFTCardTwo_box_price_box small {
  background-color: var(--icons-color);
  color: var(--main-bg-color);
  padding: 0.4rem;
  border-radius: 0.3rem;
  margin-left: 1.8rem;
}

.NFTCardTwo_box_price_stock {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

@media screen and (min-device-width: 321px) and (max-device-width: 375px) {
  .NFTCardTwo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 9rem;
  }
}

@media screen and (min-device-width: 376px) and (max-device-width: 425px) {
  .NFTCardTwo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 10rem;
  }
}

@media screen and (min-device-width: 426px) and (max-device-width: 768px) {
  .NFTCardTwo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 15rem;
    gap: 4rem;
  }

  .NFTCardTwo_box_price_box p{
    font-size: large;
    width: 80%;
  }

  .NFTCardTwo_box_price_stock{
    font-size: 1.3rem;
  }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .NFTCardTwo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 18rem;
    gap: 3rem;
  }

  .NFTCardTwo_box_price_box p{
    font-size: large;
    width: 80%;
  }

  .NFTCardTwo_box_price_stock{
    font-size: 1.3rem;
  }
}


